*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.displayBox{
	display: flex;
	height: 30vh;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;


}
.container{
	width:100%;
	height: 75vh;

}
.option{
	height: 100%;
	width: 25%;
	margin-top: auto;
	margin-right: 20px;
	border: none;
	justify-content: space-around;
	border-radius: 25%;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.option:hover{
	height: 50vh;
	width: 75%;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.5)
}
.picture{
	width: 100%;
	height: 100%;
	border-radius: 25%

	
}
.question{
	position: relative;
	right: -150%;
	height: 20vh;
	width: 100%;
	color: white;
	background: rgba(0, 0, 0, 0.7);




}
.questionBox{
width: 100%;
height: 35vh;
}
/*.head{
	background-image: url('https://images4.alphacoders.com/241/thumb-1920-241808.jpg');
	background-position: 50% 50%;
	background-size: 100%;
	height: 35vh;
	width: 100%;
	border-bottom: 5px solid black;

}*/
.overlay{
	position: fixed;
	display: block;
	color: orange;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	background-image: url(https://media2.giphy.com/media/B2eg9CmW4i9ZC/giphy.gif?cid=790b7611f58c5ba4af571b21f8b8bea159649313cb4a10e1&rid=giphy.gif);
	background-position: 70% 30%;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.9s linear;
	transition-delay: .2s;
}
.overlayText{
	position: relative;
	margin-bottom: 1%;
	right: -100%;
	-webkit-animation: slideRight 1s forwards;
	/*-webkit-animation-delay:.5s;*/

}
.welcome{
	text-align: middle;
	position: relative;
	right: -100%;
	padding-top: 5%;
	background: #5f3735;
	border: 2px solid black;
	height: 35%;
	width: 60%;
	margin-left: 23%;
	margin-bottom: -15%;
	border-radius: 20%;
	-webkit-animation: slideRight 1s forwards;
	-webkit-animation-delay:.3s;
}
.welcomeButton{
	color: white;
	background: black;
	height:25%;
	width: 35%;
	margin-top: 3%;
}
@-webkit-keyframes slideRight{
	100% {right: 0;}
}
.overlayText2{
	position: relative;
	padding-bottom: 2%;
	right: -100%;
	-webkit-animation: slideRight 1s forwards;
	/*-webkit-animation-delay:.5s;*/
}
.overlayButton{
position: absolute;
width: 30%;
height: 10%;
margin-bottom: auto;
background: black;
left: -100%;
color: white;
border-color: grey;
margin-top: 60%;
-webkit-animation: slideIn 1s forwards;
}
@-webkit-keyframes slideIn{
	100% {left: 35%;}
}

h2{
	text-align: center;
}
body{
	background-image: url(https://images6.alphacoders.com/876/thumb-1920-876133.jpg);
	background-repeat: no-repeat;
	background-size: all;
	background-position: 50% 50%;

}
/*@media only screen and (min-width: 495px){
	.overlayButton{
		margin-top: 35%;
	}
}
@media only screen and (max-width: 450px){
	.overlayButton{
		margin-top: 65%;
		width: 20%;
	}
	body{
		background-size: 100vh;
		height: 800px;
		width: 100vh;
	}
	html{
		background-size: all;
	}
	.container{
		height: 100vh;
	}
}*/
/*@media only screen and (max-width: 600px){
	.overlayButton{
		margin-top: 75%%;
	}
}*/