*{
	margin: 0;
	padding: 0;
}
.displayBox{
	display: flex;
	border: 1px solid black;
	/*border-radius: 25%;*/
	height: 90vh;
	width: 100%;
	margin: 0 auto;
	
}
.option{
	height: 25vh;
	width: 25%;
	margin-top: auto;
	background: black;
	border: 3px solid green;

}
.picture{
	/*display:flex;*/
	max-width: 90%;
	height: 90%;
	/*flex-direction: row;*/
	border: solid 2px blue;
	border-radius: 50%
	
}

@media only screen and (max-width: 450px){
	.option{
		margin-top: 90%;
	}
}