*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.displayBox{
	display: flex;
	height: 0;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	transition: all .6s linear;
	transition-delay: .8s;



}
.container{
	width:100%;
	height: 75vh;

}
.option{
	height: 100%;
	width: 25%;
	margin-top: auto;
	margin-right: 20px;
	border: none;
	justify-content: space-around;
	border-radius: 25%;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.option:focus{
	border: none;
}
.option:hover{
	height: 50vh;
	width: 75%;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.5)
}
.picture{
	width: 100%;
	height: 100%;
	border-radius: 25%

	
}
.question{
	position: relative;
	right: -150%;
	height: 20vh;
	width: 100%;
	font-family: 'Quintessential', cursive;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	transition: all 1s linear;
	transition-delay: .4s;

}
.questionBox{
width: 100%;
height: 35vh;
}
/*.head{
	background-image: url('https://images4.alphacoders.com/241/thumb-1920-241808.jpg');
	background-position: 50% 50%;
	background-size: 100%;
	height: 35vh;
	width: 100%;
	border-bottom: 5px solid black;

}*/
.overlay{
	position: absolute;
	display: block;
	color: orange;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	background-image: url(https://media2.giphy.com/media/B2eg9CmW4i9ZC/giphy.gif?cid=790b7611f58c5ba4af571b21f8b8bea159649313cb4a10e1&rid=giphy.gif);
	background-position: 70% 30%;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.9s linear;
	transition-delay: .2s;
}
.overlayText{
	position: relative;
	font-family: 'Fondamento', cursive;
	margin-bottom: 1%;
	right: -100%;
	-webkit-animation: slideRight 1s forwards;
	/*-webkit-animation-delay:.5s;*/

}
.welcome{
	text-align: middle;
	position: relative;
	font-family: 'Fondamento', cursive;
	right: -100%;
	padding-top: 5%;
	background: #5f3735 opacity .5;
	/*border: 2px solid black;*/
	height: 35%;
	width: 60%;
	margin-left: 19%;
	margin-bottom: -15%;
	border-radius: 20%;
	-webkit-animation: slideRight 1s forwards;
	-webkit-animation-delay:.3s;
}
.welcomeButton{
	color: white;
	background: black;
	height:25%;
	width: 35%;
	margin-top: 3%;
}
.welcomeButton:hover{
	color: orange;
	background: grey;
}

@-webkit-keyframes slideRight{
	100% {right: 0;}
}
.overlayText2{
	position: relative;
	padding-bottom: 2%;
	font-family: 'Fondamento', cursive;
	right: -100%;
	-webkit-animation: slideRight 1s forwards;
	/*-webkit-animation-delay:.5s;*/
}
.overlayButton{
position: absolute;
width: 30%;
height: 10%;
margin-bottom: auto;
background: black;
left: -100%;
color: white;
border-color: grey;
margin-top: 40%;
-webkit-animation: slideIn 1s forwards;

}
.overlayButton:hover{
	background: #6d6e6a;
	border: 1px solid #42433e;
}
.winMessage{
	position: absolute;
	display: block;
	width: 90%;
	right: -100%;
	height: 35%;
	background: rgba(0, 0, 0, .8);
	color: white;
	box-shadow: 15px 15px rgba(0, 0, 0, .1);
	transition: all 0.5s linear;

}
.wrongAnswer{
	display: none;
	margin: 0 auto;
	margin-top: -10%;
	margin-bottom: 5%;
	justify-content: center;
	text-align: center;
	height: 15%;
	width: 15%;
	background: transparent;
}
@-webkit-keyframes slideIn{
	100% {left: 35%;}
}

h2{
	text-align: center;
}
body{
	background-image: url(https://images6.alphacoders.com/876/thumb-1920-876133.jpg);
	background-repeat: no-repeat;
	background-size: all;
	background-position: 50% 50%;
	overflow: hidden;

}
@media only screen and (max-width: 600px){
	h3{
		font-size: 15px;
	}
}
@media only screen and (min-width: 900px){
	.overlayButton{
		margin-top: 20%;
		/*margin-left: 0;*/
	}
	.question{
		font-size: 20px;
	}
}
@media only screen and (max-width: 450px){
	.overlayButton{
		margin-top: 65%;
		width: 20%;
		margin-left: 18px;
	}
	.option{
		height: 70%;
	}
	
/*	html{
		background-size: all;
	}
	.container{
		height: 100vh;
	}
}*/
/*@media only screen and (max-width: 600px){
	.overlayButton{
		margin-top: 20%;
	}
}*/